button {
	-webkit-appearance: none;	
	font-family: Courier;
	font-size: 12pt;
	text-align: center;
	position: absolute;
	min-width: 80px;
	border-radius: 0;
	z-index: 1;
}

.openButton {
	right: 20px;
	top: 10px;
}