button {
  
}


#container {
  display: flex;
  width: 100%;
  height: 100vh;
}

#sidebar {
  width: 20%;
  min-width: 200px;
  max-width: 500px;
  position: relative;
  background: #f3f3f3;
}

#viewport {
  flex: 1;
  background: white;
   margin: 0;
   height: 100%;
}

#c {
   width: 100%;
   height: 100%;
   display: block;
}


#resize-handle {
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  cursor: ew-resize;
  background: rgba(1,1,1,1);
}